<%- include('partials/header.ejs'); %> 
<h1>Compose</h1>
<form action="/compose" method="post">
    <h6>Title</h6>
    <input type="text" name = "title" class = "ip">
    <h6>Post</h6>
    <textarea name="post" class = "ip post" cols="50"></textarea>
    <button class = "btn btn-primary" type="submit">Publish</button>
</form>

<%- include('partials/footer.ejs'); %> 